---
layout: default
---

<!-- set title as project_title -->

<style>
img{
    max-width: 100%;
    height: auto;
  
  
  }
  .img-responsive{
    margin-top: 0;
    width: 100%;
    object-fit: cover;
    
  }

.card-container {
  width: 97%;
  font-size: 1.3em;
}
  
  </style>


<div style="margin-top: 19%;" ="section-container">
  <div style="width: 100%;" class="container">
    <div class="row">
      <div class="col-xs-12">
        {% if page.bg_image == null %}
        <img  src="{{site.baseurl}}/assets/images/default-project-bg.jpg" class="img-responsive" alt="">
        {% else %}
        <img src="{{site.baseurl}}{{page.bg_image}}" class="img-responsive" alt="">
        {% endif %}
        <div class="card-container">
          <div class="text-center">
            <h1 style="font-size:3em" class="h2">{{page.project_title}}</h1>
            <hr>
          </div>


          {{content}}

        </div>
      </div>

      
   

    </div>
  </div>
</div>




